.app {
    display: flex;
}

.preview {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border-radius: 2px;
    margin: 50px;
    min-width: 500px;
    min-height: 800px;
}

.form {
    background-color: gray;
}

.information-preview {
    margin: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.education-preview, .experience-preview {
    margin: 10px;
    border-bottom: 1px solid black;
}

.education-header > h2 {
    font-size: 15px;
}

.section-header {
    font-size: 20px;
}

.separator {
  margin: 0;
  font-weight: 400;
  color: #9ca3af;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.section-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.years-attended {
  font-size: 0.9rem;
  color: #374151;
  white-space: nowrap;
  font-weight: bold;
}

input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

h1, h2, h3 {
    margin: 0;
}

.experience-preview > .section-row > h2, .job-section > h3 {
    font-size: 16px;
    margin-top: 5px;
}

.job-desc {
    margin: 0
}
